// ---------- ---------- ---------- ---------- ----------
// Colors
// ---------- ---------- ---------- ---------- ----------

$secondary-schooner--900: #141313FF;
$secondary-schooner--950: #050505FF;
$secondary-schooner--800: #302F2EFF;
$secondary-schooner--700: #4D4B4AFF;
$secondary-schooner--600: #6A6765FF;
$secondary-schooner--500: #868381FF;
$secondary-schooner--400: #9F9D9BFF;
$secondary-schooner--300: #B8B6B5FF;
$secondary-schooner--200: #D1D0CFFF;
$secondary-schooner--100: #EAE9E9FF;
$secondary-schooner--50: #F6F6F6FF;
$primary-bright-turquoise--50: #F1FBFFFF;
$primary-bright-turquoise--100: #D7F5FFFF;
$primary-bright-turquoise--200: #A4E9FFFF;
$primary-bright-turquoise--300: #71DEFFFF;
$primary-bright-turquoise--400: #3ED3FFFF;
$primary-bright-turquoise--500: #0BCAFFFF;
$primary-bright-turquoise--600: #00A6D2FF;
$primary-bright-turquoise--700: #007B9AFF;
$primary-bright-turquoise--800: #004F62FF;
$primary-bright-turquoise--900: #00222AFF;
$primary-bright-turquoise--950: #000B0EFF;
