// ---------- ---------- ---------- ---------- ----------
// Animation
// ---------- ---------- ---------- ---------- ----------


// Mixins
// ---------- ---------- ---------- ---------- ----------

@mixin button-hover-animation {
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


// Gate animation
// ---------- ---------- ---------- ---------- ----------


// Hero

@keyframes gate-hero--top  {
  0% {
    top: 0;
  }
  100% {
    top: $gate-slit-half-height;
  }
}
@keyframes gate-hero--top--loaded  {
  0% {
    top: $gate-slit-half-height;
  }
  100% {
    top: -100vh;
  }
}
@keyframes gate-hero--bottom  {
  0% {
    bottom: 0;
  }
  100% {
    bottom: $gate-slit-half-height;
  }
}
@keyframes gate-hero--bottom--loaded  {
  0% {
    bottom: $gate-slit-half-height;
  }
  100% {
    bottom: -100vh;
  }
}


// Gate

@keyframes gate-gate--top  {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left:$gate-slit-half-offset;
    top: $gate-slit-half-height;
  }
}
@keyframes gate-gate--top--loaded  {
  0% {
    left:$gate-slit-half-offset;
    top: $gate-slit-half-height;
  }
  100% {
    left:$gate-slit-half-offset;
    top: -100vh;
  }
}
@keyframes gate-gate--bottom  {
  0% {
    left: 0;
    bottom: 0;
  }
  100% {
    left: $gate-slit-half-negative-offset;
    bottom: $gate-slit-half-height;
  }
}
@keyframes gate-gate--bottom--loaded  {
  0% {
    left: $gate-slit-half-negative-offset;
    bottom: $gate-slit-half-height;
  }
  100% {
    left: $gate-slit-half-negative-offset;
    bottom: -100vh;
  }
}


// Gate line

@keyframes gate-line  {
  0% {
    lill: $primary-bright-turquoise--200;
  }
  50% {
    fill: $primary-bright-turquoise--500;
  }
  100% {
    fill: $primary-bright-turquoise--200;
  }
}


// Gate background

@keyframes gate-background  {
  0% {
    background-color: $primary-bright-turquoise--100;
  }
  50% {
    background-color: $primary-bright-turquoise--400;
  }
  100% {
    background-color: $primary-bright-turquoise--100;
  }
}
@keyframes gate-background-remove  {
  0% {
    display: block;
    top: 0;
  }
  50% {
    top: 0;
    display: block;
  }
  100% {
    display: none;
    top: -100vh;
  }
}


// Nav
// ---------- ---------- ---------- ---------- ----------

@keyframes button-hover  {
  0% {
    color: secondary-schooner-300;
  }
  100% {
    color: secondary-schooner-50;
  }
}
@keyframes button-hover-revert  {
  0% {
    color: secondary-schooner-50;
  }
  100% {
    color: secondary-schooner-300;
  }
}


// Content wrapper animation
// ---------- ---------- ---------- ---------- ----------

@keyframes content-wrapper  {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}


// Link
// ---------- ---------- ---------- ---------- ----------

@keyframes link-hover  {
  0% {
    color: $primary-bright-turquoise--200;
    border-bottom-color: $primary-bright-turquoise--200;
  }
  100% {
    color: $primary-bright-turquoise--50;
    border-bottom-color: $primary-bright-turquoise--50;
  }
}
@keyframes link-hover-revert  {
  0% {
    color: $primary-bright-turquoise--50;
    border-bottom-color: $primary-bright-turquoise--50;
  }
  100% {
    color: $primary-bright-turquoise--200;
    border-bottom-color: $primary-bright-turquoise--200;
  }
}
